# Node modules
node_modules/

# Uploads
backend/uploads/
frontend/public/uploads/

# Logs
*.log
backend/backend.log
backend/output.log

# Environment Files
.env
.env.*
!.env.example
backend/.env*
frontend/.env*

# Temporary files
tmp/
*.timestamp-*.mjs


